ErrorDocument 404 /404

RewriteEngine On
RewriteRule ^([a-zA-Z0-9]+)\.(jpg|jpeg|png|gif|webp)$ embed.php?img=$1.$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ExpiresActive On
ExpiresDefault "access plus 1 year"

Header set Access-Control-Allow-Origin "*"