RewriteEngine On
RewriteRule ^([a-zA-Z0-9]+)\.jpg$	embed.php?$1.jpg
RewriteRule ^([a-zA-Z0-9]+)\.png$ 	embed.php?$1.png
RewriteRule ^([a-zA-Z0-9]+)\.gif$	embed.php?$1.gif
RewriteRule ^([a-zA-Z0-9]+)\.webp$	embed.php?$1.webp
RewriteRule ^([a-zA-Z0-9]+)\.jpeg$	embed.php?$1.jpeg
